/* Helvetica Neue - add one @font-face per file with appropriate weight/style */
@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/helvetica-neue/HelveticaNeue-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/helvetica-neue/HelveticaNeue-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/helvetica-neue/HelveticaNeue-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Color Emoji';
  src: url('/fonts/NotoColorEmoji-Regular.ttf') format('truetype');
  font-display: swap;
}

