{{ $icon := resources.Get "images/stlgd-icon.png" }}
<div class="container">
  {{ partial "social-links.html" (dict "showLabel" false "variant" "footer") }}
  <div class="row align-items-center">
    <div class="col-12 col-md-6 mt-3">
      <div class="d-flex flex-column flex-md-row gap-2 justify-content-md-start">
        <a class="btn btn-outline-success" role="button"
          href="https://github.com/STLGameDev/STLGameDevRoundUp/labels/next-roundup"><i class="bi bi-plus-square"></i> Submit
          an Item for the Next RoundUp</a>
        <a class="btn btn-outline-primary" role="button" href="https://github.com/STLGameDev/STLGameDevRoundUp" ><i class="bi bi-github"></i> Contribute on GitHub</a>
      </div>
    </div>
    <div class="col-12 col-md-6 mt-3">
      <div class="d-flex flex-column flex-md-row gap-3 align-items-center justify-content-md-end">
        <div class="text-center"><i class="bi bi-wrench-adjustable-circle"></i> Built & Maintained by <a href="https://github.com/SeiferTim">Tim I Hely</a></div>
        <a href="https://stlgame.dev" target="_blank" rel="noopener" title="St Louis Game Dev">
          <img src="{{ $icon.RelPermalink }}" alt="St Louis Game Dev" style="height: 38px; width: auto;" />
        </a>
      </div>
    </div>
  </div>
</div>
{{ partialCached "head/js.html" . }}
