// Disable Bootstrap's color mode system
$color-mode-type: data;
$enable-dark-mode: false;

$enable-gradients: true;
$enable-shadows: true;

// Font faces
@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/helvetica-neue/HelveticaNeueRoman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/helvetica-neue/HelveticaNeueBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/helvetica-neue/HelveticaNeueItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

// Noto Emoji styling
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
  display: inline;
}

$my-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-family-base: $my-font-family;

@import "bootstrap/functions";

// STL Game Dev colors
$color-yellow: #F5E92F;
$color-orange: #E48723;
$color-purple: #d131d3;
$color-blue: #142ca7;
$color-black: #000;
$color-white: #fff;

// Dark tinted versions for card backgrounds (70% darker)
$color-yellow-dark: rgba($color-yellow, 0.15);
$color-orange-dark: rgba($color-orange, 0.15);
$color-purple-dark: rgba($color-purple, 0.15);

// Override Bootstrap theme colors
$primary: $color-purple;
$secondary: $color-blue;
$success: tint-color($color-yellow, 20%);
$info: $color-blue;
$warning: $color-orange;
$danger: shade-color($color-orange, 20%);
$light: #333;
$dark: $color-black;

// Body colors - pure black background
$body-bg: #000;
$body-color: #e8e8e8;

// Link colors - more subtle
$link-color: $color-orange;
$link-hover-color: $color-yellow;

// Component colors
$border-color: rgba($color-white, 0.15);

@import "bootstrap/variables";

// Skip dark mode variables since we disabled it
// @import "bootstrap/variables-dark";

// custom colors



@import "bootstrap/maps";
@import "bootstrap/mixins";
@import "bootstrap/utilities";
@import "bootstrap/root";
@import "bootstrap/reboot";



@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/containers";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/nav";
@import "bootstrap/navbar"; // Requires nav
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
@import "bootstrap/accordion";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/toasts";
@import "bootstrap/modal"; // Requires transitions
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/spinners";
@import "bootstrap/offcanvas"; // Requires transitions
@import "bootstrap/placeholders";

@import "bootstrap/helpers";

@import "bootstrap/utilities/api";

@import "bootstrap-icons/bootstrap-icons.scss";

@import "styles.scss";

// Footer button styling
.btn-outline-success {
    border-color: rgba($color-green, 0.6);
    color: rgba($color-green, 0.9);
    
    &:hover {
        background: rgba($color-green, 0.1);
        border-color: $color-green;
        color: $color-green;
    }
}

.btn-outline-primary {
    border-color: rgba($color-white, 0.3);
    color: rgba($color-white, 0.7);
    
    &:hover {
        background: rgba($color-white, 0.05);
        border-color: rgba($color-white, 0.5);
        color: $color-white;
    }
}
